# Node modules
node_modules/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Build output
dist/
build/

# Dependency directories
.bower_components/
jspm_packages/
firebase_admin.json